.colaborador {
    width: 280px;
}

.colaborador .cabecalho {
    background-color:  #1f1d1d;
    border-radius: 10px 10px 0px 0px;
}
.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .rodape {
    background: #a6a4af;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.colaborador .rodape h4 {
    color: #ffffff;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .rodape h5 {
    font-size: 20px;
    line-height: 22px;
    color: #fff3f3;
    padding: 0 16px;
}