.botao {
   background-color: #F2BE22;
   border-radius: 10px;
   font-weight: 700;
   font-size: 18px;
   padding: 32px;
   border: none;
   cursor: pointer;
   color: black;
}

.botao:hover{
    color: #ffff;
}